/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(223, 223, 223);
}

::ng-deep .step-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::ng-deep .career-highlight .step-label .step-title {
  font-weight: 600;
}

::ng-deep .step-label .step-subtext {
  font-size: 8px;
  color: gray;
}

.mat-stepper-vertical {
  width: 100%;
  border-top: 2px solid $primary;
}

.paragraph {
  font-size: 1.1rem;
}
